a{
    text-decoration: none;
}

.mdl-layout-title a{
    color: white;
}

.fullwidth {
    width: 100%;
    align-content: center;
}

#result_title{
  color: #fff;
  height: 176px;
  background: url('result.jpg') center / cover;
}

/*SOCIAL*/
.btn{
    border-radius: 0px;
    text-decoration: none;
}