<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>
        {% block title %}
            {% if title %}
                {{ title }}
            {% else %}
                Pluto
            {% endif %}
        {% endblock %}
    </title>
    {% include 'include/material.html' %}
    {% include 'include/custom.html' %}
    {% block extra_include %}
        <!-- Some extra includes that is situational for each page -->
    {% endblock %}
    {% block favicon %}
        {% load staticfiles %}
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    {% endblock %}
    {% block engine %}
    {% endblock %}
</head>
{%  endblock %}
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% block navigation %}
        <!-- Left aligned menu below button -->
              <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                  <!-- Title -->
                  <span class="mdl-layout-title"><a href="/">Pluto</a></span>
                  <!-- Add spacer, to align navigation to the right -->
                  <div class="mdl-layout-spacer"></div>
                  <!-- Navigation. We hide it in small screens. -->
                  <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/levels">Levels</a>
                    <a class="mdl-navigation__link" href="/records">Records</a>
                  </nav>
                    {% block header_button %}

                    {% endblock %}
                </div>
              </header>
              <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">
                    {% if request.user.is_authenticated %}
                        {{ request.user.username }}
                    {% else %}
                        Anonymous
                    {% endif %}
                </span>
                <nav class="mdl-navigation">
                    {% if request.user.is_authenticated %}
                        <a class="mdl-navigation__link" href="/me"><i class="material-icons">face</i> Profile</a>
                        <a class="mdl-navigation__link" href="/mates"><i class="material-icons">people</i> Mates</a>
                        <a class="mdl-navigation__link" href="/creator"><i class="material-icons">brush</i> Creator</a>
                        <a class="mdl-navigation__link" href="/settings"><i class="material-icons">settings</i> Settings</a>
                        <a class="mdl-navigation__link" href="/logout"><i class="material-icons">exit_to_app</i> Logout</a>
                    {% else %}
                        <a class="mdl-navigation__link" href="/login"><i class="material-icons">account_circle</i> Login</a>
                        <a class="mdl-navigation__link" href="/signup"><i class="material-icons">assignment</i> SignUp</a>
                    {% endif %}

                </nav>
              </div>
        {% block navigation_extra %}
            {% endblock %}
    {% endblock %}
    {% block body %}
        <main class="mdl-layout__content">
        {% block content %}
            <div class="mdl-grid">
            {% for i in content %}
                    <div class="mdl-card mdl-cell mdl-cell--4-col">
                        <div class="mdl-card__supporting-text">
                            <h5>{{ i.title }}</h5>
                            <h7>{{ i.value }}</h7>
                            <br>
                            <br>
                            <br>
                            <span class="mdl-chip mdl-chip--contact">
                                <span class="mdl-chip__text">
                                {{ i.date }}</span>
                                <span class="mdl-chip__contact"><i class="material-icons">account_circle</i> </span>
                                <span class="mdl-chip__text">{{ i.by.username }}</span>
                            </span>
                        </div>
                    </div>
            {% endfor %}
            </div>
        {% endblock %}
        </main>
    {% endblock %}
    {% block footer %}

    {% endblock %}


    {% block message %}
         <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
         <div class="mdl-snackbar__text">{{ i.tag | title }}: {{ i }}</div>
         <button type="button" class="mdl-snackbar__action"></button>
         </div>
    {% endblock %}


    </div>
</body>
<!-- REFACTOR -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js" integrity="sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/js/bootstrap-material-design.js" integrity="sha384-hC7RwS0Uz+TOt6rNG8GX0xYCJ2EydZt1HeElNwQqW+3udRol4XwyBfISrNDgQcGA" crossorigin="anonymous"></script>

<script type="text/javascript">

</script>
</html>