<!DOCTYPE html>
<html>
<head>
    {% include 'include/phaser.html' %}
    {% include 'include/material.html' %}
    {% include 'include/jquery.html' %}
    {% load staticfiles %}
    <title> [{{ name }}] by {{ by }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body onload="document.body.requestFullscreen();">
<i id="rotation" class="material-icons">screen_rotation</i>
<script type="text/javascript">
    //TODO Drag and drop tiles in creative
    var creative_mode = true;

    function loaded() {
        document.getElementById('spinner').remove();
        document.body.lastChild.display = 'block';
    }

    var id = {{ id }};

    var turn_device_path = "{% static "asserts/turn_device.png" %}";

    var forward_command_path = "{% static "asserts/forward.png" %}";
    var backward_command_path = "{% static "asserts/backward.png" %}";
    var left_command_path = "{% static "asserts/left.png" %}";
    var right_command_path = "{% static "asserts/right.png" %}";
    var lo_command_path = "{% static "asserts/lo.png" %}";
    var op_command_path = "{% static "asserts/op.png" %}";

    var hero_path = "{% static "asserts/hero/" %}";

    var tile_default_path = "{% static "asserts/tiles/default.png" %}";
    var tile_finish_path = "{% static "asserts/tiles/finish.png" %}";

    var level_name = "{{ name | safe }}";

    var commands_data = {{ count | safe }};

    var hero_data = {{ hero | safe}};

    var tiles_data = {{ tiles | safe}}

    var w = document.body.offsetWidth;
    var h = document.body.offsetHeight;
    if (h > w){
        window.addEventListener("orientationchange", function() {
            $.getScript('{% static 'game.js' %}', function () {
                document.getElementById('rotation').remove();
            });
        });
    }else{
        $.getScript('{% static 'game.js' %}', function () {
                document.getElementById('rotation').remove();
            });
    }

</script>
<div id="spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
<form hidden method="post" id="creator">
    {% csrf_token %}
    <input name="level">
    <input name="name">
</body>
</html>
