{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-7">
             <a href="#" class="thumbnail">
                <iframe src="/level/{{ level.id }}/play"  height="320" width="640"></iframe>
             </a>
        </div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ level.name }}
                </div>
                <ul class="list-group">
                    <li class="list-group-item">By: <a href="/profile/{{ level.by.id }}">{{ level.by.username }}</a></li>
                    <li class="list-group-item">Date: {{ level.date }}</li>
                    <li class="list-group-item">Rating: {{ level.rating }}</li>
                    <li class="list-group-item">
                        <a href="/play/{{ level.id }}">
                            <button class="btn btn-block"><span class="glyphicon glyphicon-play"></span></button>
                        </a>
                    </li>
                    {% if request.user.id == level.by.id %}
                    <li class="list-group-item">
                        <a href="/creator/{{ level.id }}">
                            <button class="btn btn-block"><span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if records %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Records
                </div>
                    <table class="table">
                        <tr>
                            <th>User</th>
                            <th>Date</th>
                            <th>Score</th>
                            <th>Attempts</th>
                        </tr>
                        {% for i in records %}
                        <tr>
                            <td><a href="/profile/{{ i.by.id }}">{{ i.by.username }}</a></td>
                            <td><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.date }}</a></td>
                            <td><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.score }}</a></td>
                            <td><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.attempts }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}