{% extends 'base.html' %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col mdl-card mdl-layout--large-screen-only">
            <div class="mdl-card__supporting-text">
             <a href="#" class="thumbnail">
                <iframe src="/level/{{ level.id }}/play"  height="320" width="640"></iframe>
             </a>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-card">
            <div class="mdl-card__supporting-text">
                <ul class="mdl-list">
                    <li class="mdl-list__item"><h5>{{ level.name }}</h5></li>
                <hr>
                    <li class="mdl-list__item">by: <a href="/profile/{{ level.by.id }}">{{ level.by.username }}</a></li>
                    <li class="mdl-list__item">date: {{ level.date }}</li>
                    <li class="mdl-list__item">
                        <a href="/play/{{ level.id }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            <i class="material-icons">gamepad</i>
                        </a>
                    {% if request.user.id == level.by.id %}
                        <a href="/creator/{{ level.id }}" class="mdl-button mdl-js-button mdl-button--raised">
                            <i class="material-icons">edit</i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if records %}
    <div class="mdl-cell mdl-cell--4-col mdl-card">
            <div class="mdl-card__supporting-text">
                    <h5>Records</h5>
                    <table class="mdl-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">User</th>
                            <th class="mdl-data-table__cell--non-numeric">Date</th>
                            <th>Score</th>
                            <th>Attempts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in records %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric"><a href="/profile/{{ i.by.id }}">{{ i.by.username }}</a></td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.date }}</a></td>
                            <td><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.score }}</a></td>
                            <td><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.attempts }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}