{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
    <table class="table">
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Date </th>
            <th> By </th>
            <th> </th>
        </tr>
        {% for i in levels %}
            <tr>
                <td> {{ i.id }}</td>
                <td> {{ i.name }}</td>
                <td> {{ i.date }}</td>
                <td> <a href="/profile/{{ i.by.id }}"> {{ i.by.username }} </a></td>
                <td> <a href="/level/{{ i.id }}/play"> <button class="button btn-default-"> <span class="glyphicon glyphicon-play"></span> </button> </a></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}