{% extends 'base.html' %}

{% block content %}
    {% if form %}
                <form method="post">
                {%  csrf_token %}
                    {% for j in form %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group ">
                                        <label for="{{ j.name }}">{{ j.label }}</label>
                                        {{ j }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <button type="submit" class="btn btn-block btn-lg">Submit</button>
                </form>
            {% endif  %}
    <a href="accounts/facebook/login"><button class="btn btn-block btn-lg btn-primary">Facebook Login</button></a>
    <a href="accounts/google/login"><button class="btn btn-block btn-lg btn-danger">Google Login</button></a>
    <a href="accounts/discord/login"><button class="btn btn-block btn-lg btn-warning">Discord Login</button></a>
    <a href="accounts/github/login"><button class="btn btn-block btn-lg btn-success">Git Login</button></a>
{% endblock %}