<!DOCTYPE html>
<html>
<head>
    {% include 'include/phaser.html' %}
    {% load staticfiles %}
    <title> {{ name }} by {{ by }}</title>
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body>
    <script type="text/javascript">
    //TODO some debug animation maybe?
    //TODO Compile program of commands
    //TODO JSON level like a human plz
    var WIDTH = document.body.offsetWidth;
    var HEIGHT = document.body.offsetHeight;
    var DIV = {
        width: 50,
        height: 50
    };
    var MAX_WIDTH = DIV.width * 10;
    var MAX_HEIGHT = DIV.height * 10;
    var SPEED = 1000;
    
    if (HEIGHT > WIDTH){
        alert("For better experience - turn device!");
    }


    var game = new Phaser.Game(WIDTH, HEIGHT, Phaser.AUTO, 'Pluto', {preload: preload, create: create, update: update});
    var command;
    var program;
    var scene;

    var commands = {};
    var programs = [];
    var tiles = [];
    var hero = {};

    var program_scroll;
    var background;

    var defaultFont = {font: "25px Arial", fill: "black", align: "center"};

    function preload() {
        game.stage.backgroundColor = '#007236';

        game.load.image("forward", "{% static "asserts/forward.png" %}");
        game.load.image("backward", "{% static "asserts/backward.png" %}");
        game.load.image("left", "{% static "asserts/left.png" %}");
        game.load.image("right", "{% static "asserts/right.png" %}");
        game.load.image("lo", "{% static "asserts/lo.png" %}");
        game.load.image("op", "{% static "asserts/op.png" %}");

        game.load.image("pluto", "{% static "asserts/prop/pluto.png" %}");

        game.load.image("tile_default", "{% static "asserts/tiles/default.png" %}");
        game.load.image("tile_finish", "{% static "asserts/tiles/finish.png" %}");
    }

    function create() {
        function createProgramPanel(){
            //Program
            program = game.add.group();
            program.fixedToCamera = true;
            program.inputEnableChildren = true;
            program.x = 0;
            program.y = 0;
            program.w = WIDTH;
            program.h = DIV.height * 1.5;
            program.cameraOffset = program.position.clone();
            var program_holder = game.add.graphics(0, 0);
            program_holder.beginFill(0xc1c1c1, 0.85);
            program_holder.drawRect(0, 0, program.w, program.h);
            program_holder.endFill();
            program.addChild(program_holder);


            var tmp_scroll = game.add.graphics(0, 0);
            tmp_scroll.beginFill(0xc1c1c1, 1);
            tmp_scroll.drawRect(0, 0, program.w/4, DIV.height/4);
            tmp_scroll.endFill();
            program_scroll = game.add.sprite(0, program.h - DIV.height/4);
            program_scroll.fixedToCamera = true;
            program_scroll.inputEnabled = true;
            program_scroll.input.enableDrag();
            program_scroll.input.allowVerticalDrag = false;
            program_scroll.input.priorityID = 1;
            program_scroll.cameraOffset = program_scroll.position.clone();
            program_scroll.events.onDragStart.add(programScrollOnDragStart, this);
            program_scroll.events.onDragStop.add(programScrollOnDragStop, this);
            program_scroll.addChild(tmp_scroll);
        }

        function createCommandPanel(){
             //Commands
            command = game.add.group();
            command.fixedToCamera = true;
            command.inputEnableChildren = true;
            command.x = (WIDTH - 9.5 * DIV.width)/2;
            command.y = HEIGHT - DIV.height * 1.5;
            command.w = 9.5 * DIV.width;
            command.h = DIV.height * 1.5;
            command.cameraOffset = command.position.clone();
            var command_holder = game.add.graphics(0, 0);
            command_holder.beginFill(0xc1c1c1, 0.85);
            command_holder.drawRect(0, 0, command.w, command.h);
            command_holder.endFill();
            command.addChild(command_holder);


            var command_names = ['forward', 'backward', 'left', 'right', 'lo', 'op'];
            var x = DIV.width/2;
            for (var i in command_names){
                commands[command_names[i]] = command.create(x, DIV.height/4, command_names[i]);
                x += 3 * DIV.width/2;
            }
            {% for key, value in count.items %}
                commands.{{ key }}.count = {'value': {{ value }} };
            {% endfor %}

            for (var key in commands){
                var object = commands[key];
                //Draggable
                object.inputEnabled = true;
                object.input.enableDrag();
                object.events.onDragStart.add(commandOnDragStart, this);
                object.events.onDragStop.add(commandOnDragStop, this);
                // Counters
                var text = object.count.value
                object.count.text = game.add.text(object.x + DIV.width/2, object.y + DIV.height + 5, text, defaultFont, command);
                object.count.text.anchor.setTo(0.5, 0.5);

            }
            // End Commands
        }


        function createScenePanel(){
            scene = game.add.group();
            scene.x = 0;
            scene.y = DIV.height * 1.5;
            scene.w = WIDTH;
            scene.h = HEIGHT - DIV.height * 1.5 - DIV.height * 1.5;

            background = game.add.sprite();
            background.fixedToCamera = true;
            background.cameraOffset.x = scene.x;
            background.cameraOffset.y = scene.y;
            background.inputEnabled = true;
            background.width = scene.w;
            background.height = scene.h;
            background.input.enableDrag();
            background.events.onDragStart.add(backgroundOnDragStart, this);
            //background.events.onDragUpdate.add(backgroundOnDragUpdate, this);
            background.events.onDragStop.add(backgroundOnDragStop, this);
            background.input.priorityID = 0;
            background.originalPosition = background.cameraOffset.clone();

            var x, y, current;
            {% for i in tiles %}
                x = {{ i.x }}*DIV.width;
                y = {{ i.y }}*DIV.height;
                current = scene.create(x, y, "{{ i.type }}");
                tiles.push(current);
            {% endfor %}

            x = {{ hero.x }}*DIV.width + DIV.width/2;
            y = {{ hero.y }}*DIV.height + DIV.height/2;
            hero = scene.create(x, y, "{{ hero.type }}");
            hero.anchor.setTo(0.5, 0.5);
            hero.direction  = {{ hero.direction }};
            hero.angle = {{ hero.direction }} * 90;
            hero.inputEnabled = true;
            hero.events.onInputDown.add(heroOnInputDown, this);
            hero.originalPosition = hero.position.clone();
            hero.originalDirection = hero.direction;
            hero.input.priorityID = 1;
        }

        game.world.setBounds(0, 0, 1920, 1920);
        game.camera.setBoundsToWorld();
        //game.world.resize(MAX_WIDTH, MAX_HEIGHT);

        createScenePanel();
        createProgramPanel();
        createCommandPanel();
    }



    var tween;
    function update() {
        if (sceneCheck().length < 1){
            game.camera.shake(0.01,  500);
            gameSuccess(false);
        }
        //game.debug.cameraInfo(this.game.camera, 0, 200);
        //game.debug.spriteInfo(background, 32, 32);
        //game.debug.spriteBounds(background);
    }

    function gameCheckSucceed() {
            var tiles = sceneCheck();
            var success = false;
            for (var i in tiles){
                if (tiles[i].key == "tile_finish"){
                    success = true;
                }
            }
            gameSuccess(success);
        }

    function gameStart(){
        hero.input.enabled = false;
        tween = createTween(programCompile());
        if (tween.length > 0) {
            tween[0].start();
            tween[tween.length-1].onComplete.add(gameCheckSucceed, this);
        }
    }

    function gameSuccess(success) {
        if (success){
            alert("w0w");
        }else{
            game.tweens.removeAll();
            heroReset();
        }
    }

    function deltaCommandCount(key, delta){
        commands[key].count.value += delta;
        commands[key].count.text.setText(commands[key].count.value);
    }

    function programAddCommand(command, pointer){
        var index = programs.length;
        pointer.x += DIV.width/2;
        if (pointer.y < HEIGHT/2){
            //TODO this need to be rewritten
            //in case of scroll
            index = Math.floor(pointer.x/DIV.width);
            if (index > programs.length){
                index = programs.length;
            }
        }
        var current = program.create(0, DIV.height/4, command.key);
        current.inputEnabled = true;
        current.input.enableDrag();
        current.events.onDragStart.add(programOnDragStart, this);
        current.events.onDragStop.add(programOnDragStop, this);
        current.input.allowVerticalDrag = false;

        programs.splice(index, 0, current);

        programAlignCommands();
    }

    function programAlignCommands(){
        // TODO Maybe animation
        if (programs.length == 0){
            return;
        }
        if (programs[0].x > 0){
            programs[0].x = 0;
        }
        for (var i = 1; i < programs.length; ++i){
            programs[i].alignTo(programs[i-1], Phaser.RIGHT_CENTER);
        }
    }

    function programCompile(){
        var pure = [];
        for (var i in programs){
            var current =  programs[i].key;
            pure.push(current);
        }

        // LOOP handl
        var pair = 0;
        var pre_lo = 0;
        for (var i = 0; i < pure.length; ++i){
            if (pure[i] == "lo"){
                --pair;
            }else if (pure[i] == "op"){
                if (pair == 0){
                    pure.splice(0, 0, "lo");
                    ++i;
                }else{
                    ++pair;
                }
            }
        }

        while(pair < 0){
            pure.push("op");
            ++pair;
        }

        for (var i = 0; i < pure.length; ++i){
            if (pure[i] == "lo"){
                pair -= 1;
                var j = i + 1;
                do{
                    if (pure[j] == "lo"){
                        pair -= 1;
                    }
                    if (pure[j] == "op"){
                        pair += 1;
                    }
                    ++j;
                }while (pair != 0 && j < pure.length);

                if (pair == 0){
                    var double = pure.slice(i+1, j-1);
                    pure.splice(j-1, 1);
                    pure.splice.apply(pure, [i, 1].concat(double));
                }else{
                    return [];
                }
                --i;
            }
        }

        //TODO Handel LO and OP later on
        return pure;
    }


    function createTween(commands){
        var result = [];
        var len = DIV.height;
        var direction = hero.direction;
        var x = hero.x;
        var y = hero.y;

        for (var i in commands){
            var tmp;
            //TODO Refactor this
            var dx = 0, dy = 0;
            switch (direction){
                case 0:
                    dy = -len;
                    break;
                case 1:
                    dx = len;
                    break;
                case 2:
                    dy = len;
                    break;
                case 3:
                    dx = -len;
                    break;
            }

            if (commands[i] == 'forward') {
                x += dx;
                y += dy;
                tmp = game.add.tween(hero).to({x: x, y: y}, SPEED, "Quart.easeOut");
            }else if(commands[i] == 'backward'){
                x -= dx;
                y -= dy;
                tmp = game.add.tween(hero).to({x: x, y: y}, SPEED, "Quart.easeOut");
            }else if(commands[i] == 'left'){
                tmp = game.add.tween(hero).to({angle: '-90'}, SPEED, "Quart.easeOut");
                direction = (direction + 3) % 4;
            }else if(commands[i] == 'right'){
                tmp = game.add.tween(hero).to({angle: '+90'}, SPEED, "Quart.easeOut");
                direction = (direction + 5) % 4;;
            }

            result.push(tmp);
            if (result.length > 1){
                result[result.length - 2].chain(tmp);
            }
        }
        return result;
    }

    function sceneCheck(){
        var result = [];
        for (var i in tiles){
            var x = tiles[i].x;
            var y = tiles[i].y;
            var h = tiles[i].height;
            var w = tiles[i].width;
            if (hero.x >= x && hero.x <= x + w && hero.y >= y && hero.y <= y + h){
                result.push(tiles[i]);
            }
        }
        return result;
    }

    function heroReset() {
        hero.position = hero.originalPosition.clone();
        hero.direction = hero.originalDirection;
        hero.angle = hero.direction * 90;
        hero.input.enabled = true;
    }
    ///////////////////////////////////////////////////////
    //Events
    //////////////////////////////////////////////////////
    function commandOnDragStart(sprite, pointer) {
        sprite.originalPosition = sprite.position.clone();
        sprite.position = pointer;
    }

    function commandOnDragStop(sprite, pointer) {
        if (sprite.count.value > 0){
            // Camera offset correction
            var ptr = pointer;
            ptr.y += command.y;
            programAddCommand(sprite, ptr);
            deltaCommandCount(sprite.key, -1);
        }
        sprite.position = sprite.originalPosition;
    }

    function programOnDragStart(sprite, pointer) {
        sprite.originalPosition = sprite.position.clone();
        //sprite.position = pointer;
    }

    function programOnDragStop(sprite, pointer) {
        var index = programs.indexOf(sprite);
        programs.splice(index, 1);
        if (Math.abs(sprite.x - sprite.originalPosition.x) > sprite.width/2){
            programAddCommand(sprite, pointer);
        }else{
           deltaCommandCount(sprite.key, 1);
        }
        sprite.destroy();
        programAlignCommands();
    }

    function programScrollOnDragStart(sprite, pointer) {
        sprite.originalPosition = sprite.position.clone();
    }

    function programScrollOnDragStop(sprite, pointer) {
        // TODO Resize scroll only if enough content in program
        if (sprite.cameraOffset.x < 0){
            sprite.cameraOffset.x = 0;
        }else if (sprite.cameraOffset.x + sprite.width > WIDTH){
            sprite.cameraOffset.x = WIDTH - sprite.width;
        }

        var deltaX = sprite.originalPosition.x - sprite.position.x;
        if (programs.length > 0) {
            // TODO This
            // var animation = game.add.tween(programs[0]).to({x: programs[0] + deltaX}, SPEED, "Quart.easeOut");
            // animation.start();
            programs[0].x += deltaX;
            programAlignCommands();
        }

    }

    function backgroundOnDragStart(sprite, pointer){
        sprite.originalPosition = sprite.cameraOffset.clone();
    }

    function backgroundOnDragStop(sprite, pointer){
        var x = sprite.originalPosition.x - sprite.cameraOffset.x;
        var y = sprite.originalPosition.y - sprite.cameraOffset.y;
        x += game.camera.x;
        y += game.camera.y;

        var animation = game.add.tween(game.camera).to({x: x, y: y}, SPEED, "Quart.easeOut");
        animation.start();

        sprite.fixedToCamera = true;
        //IDK But it works
        sprite.cameraOffset.x = scene.x;
        sprite.cameraOffset.y = scene.y;
    }


    function heroOnInputDown(sprite, pointer) {
        gameStart();
    }

</script>
</body>
</html>