<!DOCTYPE html>
<html>
<head>
    {% include 'include/phaser.html' %}
    {% include 'include/material.html' %}
    {% load staticfiles %}
    <title> [{{ name }}] by {{ by }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        canvas{
            display: none;
        }
    </style>
</head>
<body>
<script type="text/javascript">

    function loaded() {
        document.getElementById('spinner').remove();
        document.body.lastChild.display = 'block';
    }

    var id = {{ id }};

    var turn_device_path = "{% static "asserts/turn_device.png" %}";

    var forward_command_path = "{% static "asserts/forward.png" %}";
    var backward_command_path = "{% static "asserts/backward.png" %}";
    var left_command_path = "{% static "asserts/left.png" %}";
    var right_command_path = "{% static "asserts/right.png" %}";
    var lo_command_path = "{% static "asserts/lo.png" %}";
    var op_command_path = "{% static "asserts/op.png" %}";

    var hero_path = "{% static "asserts/hero/" %}";

    var tile_default_path = "{% static "asserts/tiles/default.png" %}";
    var tile_finish_path = "{% static "asserts/tiles/finish.png" %}";

    var commands_data = {{ count | safe }};

    var hero_data = {{ hero | safe}};

    var tiles_data = {{ tiles | safe}}

</script>
<div id="spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
<script type="text/javascript" src="{% static 'game.js' %}"></script>
<form hidden method="post" action="/record/level={{ id }}" id="record">
    {% csrf_token %}
    <input type="number" name="attempts">
    <textarea name="program"></textarea>
</form>
</body>
</html>
