{% extends 'base.html' %}
{% block content %}
    {% if profile %}
    <div class="row">
        <div class="col-lg-3">
            <a href="#" class="thumbnail">
            <img src="/media/{{ profile.image }}" alt="image">
            </a>
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">Profile Info</div>
                    <ul class="list-group">
                        <li class="list-group-item">Username: {{ profile.username }}</li>
                        <li class="list-group-item">Real name: {{ profile.first_name }} {{ profile.last_name }}</li>
                        <li class="list-group-item">Email: {{ profile.email }}</li>
                        <li class="list-group-item">Joined: {{ profile.date_joined }}</li>
                    </ul>
            </div>
            {%  if profile.id != request.user.id %}
                    <a href="/mate_it/{{ profile.id }}"><button class="btn btn-primary btn-group-justified">
                        {% if mate.me %}
                            {% if mate.you %}
                                Unmate
                            {% else %}
                                Mate request sent
                            {% endif %}
                        {% else %}
                            {% if mate.you %}
                                Accept mate request
                            {% else %}
                                Request mate
                            {% endif %}
                        {% endif %}
                            </button>
                </a>
            {% endif %}
        </div>
    </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading"> Creations </div>
                    <table class="table">
                        {% for i in levels %}
                        <tr>
                            <td>
                                <a href="/level/{{ i.id }}"> {{ i.name }}</a>
                                {% if profile.id == request.user.id %}
                                <a href="/creator/{{ i.id }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                {% endif %}
                            </td>
                            <td> {{ i.date }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2">
                                <a href="/creator"><button class="btn btn-block">Add</button> </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Records
                    </div>
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Score</th>
                            <th>Attempts</th>
                        </tr>
                        {% for i in records %}
                        <tr>
                            <td><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.date }}</a></td>
                            <td><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.score }}</a></td>
                            <td><a href="/record/level={{ level.id }}&user={{ i.by.id }}">{{ i.attempts }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
